<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>User Panel</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="script/angular.min.js"></script>
    <script>
        var module=angular.module("myModule",[]);
        module.controller("myController",function($scope,$http)
        {
            $scope.jsonArray;
            $scope.fetch=function(){
                var url="/fetch-data";
                $http.get(url).then(done,fail);
                function done(res)
                {

                    // alert(JSON.stringify(res.data))
                  $scope.jsonArray=res.data;
                }
                function fail(err)
                {
               alert(err);
                }
            }
            $scope.block=function(email)
            {

                var url="/block?kuchemail="+email;
                $http.get(url).then(done,fail);
                function done(res)
                {
                    // alert(JSON.stringify(res.data));
                    $scope.fetch();
                }
                function fail(err)
                {
                    alert(err);
                }
            }
            $scope.resume=function(email)
            {
                var url="/resume?kemail="+email;
                $http.get(url).then(done,fail);
                function done(res)
                {
                    // alert(JSON.stringify(res.data));
                    // alert(res);
                    $scope.fetch();
                }
                function fail(err)
                {
                    alert(err);
                }
            }
            $scope.dofindu=function()
            {
                $scope.puser=localStorage.getItem("active");
            }

        })
    </script>
    </head>

<body ng-app="myModule" ng-controller="myController" ng-init="dofindu();">
    <nav class="navbar navbar-expand-lg bg-body-tertiary sticky-top">
        <div class="container-fluid" style="background-color:lightseagreen;">
            <a class="navbar-brand"  style="font-family:Georgia, 'Times New Roman', Times, serif; font-size:30px;">Vitality Junction</a>
             
            <div style="font-size: 20px;">
                {{puser}}
             </div>
            </div>
    </nav>
 
        

    <center>
        <input type="button"  class="btn btn-info mb-3" value="Fetch Records" ng-click="fetch()">

        <table border="1"style="width: 600px;" class="table table-dark table-borderless">
            <tr align="center">
                <th scope="col">Email</th>
                <th scope="col">DOB</th>
                <th scope="col">Type</th>
                <th scope="col">Status</th>
                <th scope="col">Operations</th>
                <tr ng-repeat="obj in jsonArray" align="center">
                    <td>{{obj.email}}</td>
                    <td>date</td>
                    <td>{{obj.type}}</td>
                    <td>{{obj.status}}</td>
                    <td >
                        <input type="button" value="Block" ng-click="block(obj.email);">
                        <input type="button" value="Resume" ng-click="resume(obj.email);">
                    </td>
                </tr>
             </tr>
        </table>
    </center>
    

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
</body>

</html>